.table-bckg__five {
    background-color: #10244a;
}

@media screen and (max-width: 800px) {
    .table-bckg__five {
        background-image: url(../../../vendor/image/Без\ имени-5.png);
        background-repeat: no-repeat;
    }
}