.paragraph {
    margin: 0;
    padding: 10px;
    border-right: 1px solid #4a4a4a;
    box-sizing: border-box;
}

@media screen and (max-width: 520px) {
    .paragraph {
        padding: 2px;
    }
}