.table-bckg__four {
    background-color: #183c25;
}

@media screen and (max-width: 800px) {
    .table-bckg__four {
        background-image: url(../../../vendor/image/4.png);
        background-repeat: no-repeat;
    }
}