.table-bckg__second {
    background-color: #431e1b;
}

@media screen and (max-width: 800px) {
    .table-bckg__second {
        background-image: url(../../../vendor/image/2-3.png);
        background-repeat: no-repeat;
    }
}