.table-bckg__first {
    background-color: #393c1f;
}

@media screen and (max-width: 800px) {
    .table-bckg__first {
        background-image: url(../../../vendor/image/1.png);
        background-repeat: no-repeat;
    }
}